!!!
%html
  %head
    %title Tiarazon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %ul
        %li= link_to 'Tiarazon', root_path
        = render 'shared/nav_links'
    = yield
    %footer
      %h3= "Hungry? Order a pizza while you browse!"
      %p= "#{RandomPizza.new.suggestion}"
      = render 'shared/nav_links'
      %p= "#{Time.now}"
