!!!
%html
  %head
    %title Tiarazon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %ul
      %li= link_to 'Tiarazon', root_path
      %ul
        %li= link_to 'Products', products_path
        %ul
          %li= link_to 'New', new_product_path
    = yield
